body {
    margin: 0 auto;
}

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/***********************************************************************
 *  Cover
 **********************************************************************/
 .fab {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 5px;
    text-align: center;
  }
 .container {
    /*show heigh: auto*/
    /* height: 30vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(header.jpg) no-repeat center center fixed;  */
    height: 25vh; 
    padding: 5em;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/***********************************************************************
 *  list
 **********************************************************************/


/***********************************************************************
 *  Grid Panel
 **********************************************************************/
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-item {
      flex: 100%;
    }
  }
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
}

.box {
    background-color: #444;
    padding: 200px;
    margin: 30px;
}

.box > img {
    width: 100%;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: #4EA2AE; /* Old browsers */
    background: -moz-linear-gradient(top, #4EA2AE 0%, #C4D7DA 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4EA2AE), color-stop(100%,#C4D7DA)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4EA2AE 0%,#C4D7DA 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4EA2AE 0%,#C4D7DA 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4EA2AE 0%,#C4D7DA 100%); /* IE10+ */
    background: linear-gradient(top, #4EA2AE 0%,#C4D7DA 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
